



<div class="cookie_freeze">

	<div class="freezing_topbar"> 
			<div class="topnavigation"> <!-- horizontal links -->
	
	<div class="top_links"> 			
	<a href="index.html"     class="topnav_estatistics">ESTATISTICS </a>
	<a id="idStatistics"     href ="Statistics.html"              > <span lang="en">Statistics      </span>     <span lang="gr">Στατιστική      </span>   </a>
    <a id="idR_Code_PSPP"    href ="#R_Code_PSPP"                                  > <span lang="en">R Code / PSPP   </span>     <span lang="gr"> R Code / PSPP  </span>   </a>
	<a id="idStat_Article"   href ="#Stat_Article"                                 > <span lang="en">Stat Articles   </span>     <span lang="gr"> Άρθρα          </span>   </a>   
	<a id="idPlanets_Health" href ="#Planets_Health"                               > <span lang="en">Planet's Health </span>     <span lang="gr"> Περιβάλλον     </span>   </a>    
	<a id="idServices"       href ="#Services"                                     > <span lang="en">Services        </span>     <span lang="gr"> Υπηρεσίες      </span>   </a>  
    </div>
    


    <!--- The country flags --- Language Selector --->
	<a href="#gr" id="lang_switch_gr" class="greek_flag"  >
    <img title="greek_flag" src="img/Greek_flag_02.png" 
    onmouseover="this.src='img/Greek_flag_02.png'" 
    onmouseout="this.src='img/Greek_flag_01.png'" alt=""  />
    </a>   

	<a href="#en" id="lang_switch_en" class="uk_flag"   >
    <img title="uk_flag" src="img/uk_flag_01.png" 
    onmouseover="this.src='img/uk_flag_02.png'" 
    onmouseout="this.src='img/uk_flag_01.png'"  alt=""   />
    </a>   
	
	
	        <!--- The Search box ( tipue ) --->
			<input type="text" name="q" id="tipue_search_input"  class="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required>
			<button type="submit"       id="tipue_search_button" class="tipue_search_button"><div class="tipue_search_icon">&#9906;</div></button>
			
		
			</div> <!-- End horizontal links  -->
			


          <div class="horizonal_line_1">  </div> <!-- Page Divider -->
          
	</div><!-- End freezing_topbar  -->
	
	 
<div class="vertical_line_1"> 

<div id="left_link_index" class="left_link_index cookie_freeze"> 
	
</div></div>




</div> <!-- Page Divider -->
  
<div class="vertical_line_2">    </div> <!-- Page Divider -->

<div id="tipue_search_content"></div>

-------------------------------------------------------------------------------------------------------------------------

