

<div id="footer_section" class="footer_section">
	<div id="horizontal_line_0" class="horizontal_line">
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    </div>



<!-- footer section -->
<footer>
	
	
<!-- copyright section EN - US -->
<div class="copyright"> 
	
	

<span lang="en">  
<div class="cc0">

<p 
xmlns:dct="https://purl.org/dc/terms/" xmlns:vcard="https://www.w3.org/2001/vcard-rdf/3.0#">

<div class="year">
	
<a class="creative_commons_image_link" rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/deed.en" target="_blank">
	  <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png"   alt="CC0" />  </a> 

<span class="year_0">  --- 2018 --- <a class="design" rel="nofollow" href="https://estatistics.eu" target="_parent"> Estatistics.eu </a>   </span>

</div> </br>


<span class="creative_common_text">
To the extent possible under law,
<a class="author_name" rel="dct:publisher" href="https://www.estatistics.eu/">  <span property="dct:title">Elias Tsolis</span></a>

has waived all copyright and related or neighboring rights to the content of

<span property="dct:title"><b>"Website Estatistics.eu" </b> that were created by him<b>*</b></span>.

<i>You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission. </i>

This content is published from: <span property="vcard:Country" datatype="dct:ISO3166" content="GR" about="https://www.estatistics.eu/"> Greece, worldwide. </span>

</span>


<p></p>
<span class="creative_common_text_exceptions">
<i><b>*</b>Content that is presented under "Stat Articles", and "Planet's Health" 
as well any third party application / script / form / service / calculator / table / graph presented 
in the current website is keeping their claimed copyrights.</i>
</span>

</div><!-- Closing CC0 information -->
</br>

---------------------------------------------------------------------------------------------------------------------------------------------------------------------</br>



<div class="info_footer">
	
<div class="info_footer_grid">
	
 
	 	 
	<div class="info_footer_end_items">
        <b class="info_footer_head">   Terms of Use    </b>           </br>   
<a class="info_items_space">                                                                                            </a> 
<a id="id_terms_of_use_en"    class="info_footer_items"   href ="#terms_of_use">        @ Administration                </a>           </br>     
<a class="info_items_space">                                                                                            </a> 
<a id="id_cc0_rights_en"      class="info_footer_items"   href ="#cc0_rights_en">       @ Waived Copyrights             </a>           </br>     
<a class="info_items_space">                                                                                            </a> 
<a id="id_collection_info_en" class="info_footer_items"   href ="#collection_info_en">  @ Personal Data                 </a>           </br>     
<a class="info_items_space">                                                                                            </a> 
<a id="id_access_info_en"     class="info_footer_items"   href ="#access_info_en">      - Access your data              </a>           </br>     
<a class="info_items_space">                                                                                            </a> 
<a id="id_newsletter_info_en" class="info_footer_items"   href ="#newslette_info_en">   @ Tasteful StatLetter           </a>           </br>     

     </div><!-- footer grid items closing --> 
		  
		  
		  
	<div class="info_footer_end_items">
        <b class="info_footer_head">   Service Policy        </b>           </br>   
<a class="info_items_space">                                                                                                   </a> 
<a id="id_communication_info_en"  class="info_footer_items"   href ="#communication_info_en">  @ Service Information           </a>  </br>     
<a class="info_items_space">                                                                                                   </a> 
<a id="id_data_exchange_info_en"  class="info_footer_items"   href ="#data_exchange_info_en">  @ Sending Data                  </a>  </br>  
<a class="info_items_space">                                                                                                   </a> 
<a id="id_payment_info_en"        class="info_footer_items"   href ="#payment_info_en">        @ Payment methods               </a>  </br>  

	</div><!-- footer grid items closing --> 
	
	
	
	    <div class="info_footer_grid_items">
         <b class="info_footer_head">Cookies </b>           </br>   
<a class="info_items_space">                                                                                                                                   </a> 
<a id="id_revoke_acceptance_en"      class="info_footer_items"   href ="#" onclick="deleteAllCookies()">                               - Revoke Acceptance     </a> </br>
<a class="info_items_space">                                                                                                                                   </a>
<a id="id_which_cookies_en"          class="info_footer_items"   href ="#which_cookies_gr">                                            - Which cookies         </a> </br> 
<a class="info_items_space">                                                                                                                                   </a> 
<a id="id_cookies_general_info_en"   class="info_footer_items"   href ="https://cookies.insites.com/about-cookies/"   target="_blank"> - What is Cookies       </a> </br>     
<a class="info_items_space">                                                                                                                                   </a> 
<a id="id_deactivation_en"           class="info_footer_items"   href ="https://cookies.insites.com/disable-cookies/" target="_blank"> - Removing cookies      </a> </br>  
  
  
<p></p>

<span class="hoster">Hosted by: <a class="author_name" href="https://www.papaki.com/en/">                      papaki.gr                    </a></span>      </br>                  

    </div><!-- footer grid items closing --> 
	 
	
	
	<div class="info_footer_end_items">
	    <b class="info_footer_head">    </b>    
	</div><!-- footer grid items closing --> 
	

</div><!-- footer grid closing --> 



</div><!-- footer closing --> 




</p>
</span>     





<!-- copyright section GR - EL -->
<span lang="gr">     

<div class="cc0">
<p 
xmlns:dct="https://purl.org/dc/terms/" xmlns:vcard="https://www.w3.org/2001/vcard-rdf/3.0#">

<div class="year">
	
<a class="creative_commons_image_link" rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/deed.el" target="_blank">
	  <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png"   alt="CC0" />  </a> 

<span class="year_0">  --- 2018 --- <a class="design" rel="nofollow" href="https://estatistics.eu" target="_parent"> Estatistics.eu </a>   </span>

</div> </br>


<span class="creative_common_text">
Ο <a class="author_name" rel="dct:publisher" href="https://www.estatistics.eu/">  <span property="dct:title">Ηλίας Τσώλης</span></a>
έχει αποποιηθεί όλα τα δικαιώματά του επί του περιεχομένου του
<span property="dct:title"><b>"Ιστοτόπου Estatistics.eu" </b> που δημιουργήθηκε από αυτόν<b>*</b></span> 
για όλο τον κόσμο, σύμφωνα με το νόμο για την προστασία της πνευματικής ιδιοκτησίας, 
συμπεριλαμβανομένων και όλων των σχετικών ή συγγενικών δικαιωμάτων του επί 
του περιεχομένου αυτού, στο βαθμό που αυτό επιτρέπεται από το νόμο.

<i><b>Μπορείς να αντιγράφεις, διανέμεις, και να παρουσιάζεις το περιεχόμενο αυτό ακόμη και αν πρόκειται για εμπορικές χρήσεις, 
χωρίς να λαμβάνεις άδεια. </b></i>

Αυτό το περιεχόμενο δημοσιεύεται από την: 
<span property="vcard:Country" datatype="dct:ISO3166" content="GR" about="https://www.estatistics.eu/"> Ελλάδα, παγκοσμίως. </span>

</span>

<p></p>
<span class="creative_common_text_exceptions">
<i><b>*</b>Το περιεχόμενο που παρουσιάζεται στα "Άρθρα", και στο "Περιβάλλον" 
όπως και κάθε εφαρμογή, σκριπτ, φόρμα, υπηρεσία, διαδικτυακού υπολογιστή, πίνακα, 
γραφήματος που έχει δημιουργηθεί από τρίτους στο παρόν ιστότοπο, 
διατηρεί τα διακηρυγμένα δικαιώματα του.</i>
</span>

</div><!-- Closing CC0 information -->
</br>



---------------------------------------------------------------------------------------------------------------------------------------------------------------------</br>



<div class="info_footer">
	<div class="info_footer_grid">
	
	 
	 
	<div class="info_footer_grid_items">
        <b class="info_footer_head">   Όροι Χρήσης   </b>           </br>   
<a class="info_items_space">                                                                                            </a> 
<a id="id_terms_of_use_gr"    class="info_footer_items"   href ="#terms_of_use">        @ Διαχειριστής                  </a>   </br>     
<a class="info_items_space">                                                                                            </a> 
<a id="id_cc0_rights_gr"      class="info_footer_items"   href ="#cc0_rights_gr">       @ Εκχώρηση δικαιωμάτων ( CC0 )  </a>   </br>     
<a class="info_items_space">                                                                                            </a> 
<a id="id_collection_info_gr" class="info_footer_items"   href ="#collection_info_gr">  @ Προσωπικά Δεδομένα            </a>   </br>     
<a class="info_items_space">                                                                                            </a> 
<a id="id_access_info_gr"     class="info_footer_items"   href ="#access_info_gr">      - Πρόσβαση Δεδομένων            </a>   </br>     
<a class="info_items_space">                                                                                            </a> 
<a id="id_newsletter_info_gr" class="info_footer_items"   href ="#newslette_info_gr">   @ Ενημερωτική Αλληλογραφία      </a>   </br>     

     </div><!-- footer grid items closing --> 
		  
		  
		  
	<div class="info_footer_grid_items">
        <b class="info_footer_head">   Πολιτική Υπηρεσιών   </b>           </br>   
<a class="info_items_space">                                                                                                   </a> 
<a id="id_communication_info_gr"  class="info_footer_items"   href ="#communication_info_gr">  @ Πληροφορίες Υπηρεσιών         </a>    </br>     
<a class="info_items_space">                                                                                                   </a> 
<a id="id_data_exchange_info_gr"  class="info_footer_items"   href ="#data_exchange_info_gr">  @ Ανταλλαγή Δεδομένων           </a>    </br>  
<a class="info_items_space">                                                                                                   </a> 
<a id="id_payment_info_gr"        class="info_footer_items"   href ="#payment_info_gr">        @ Τρόποι Πληρωμής               </a>    </br>  

	</div><!-- footer grid items closing --> 
	
	
	
	
	    <div class="info_footer_grid_items">
         <b class="info_footer_head">Cookies </b>           </br>   
<a class="info_items_space">                                                                                                                                   </a> 
<a id="info_footer_items_1"       class="info_footer_items"   href ="#" onclick="deleteAllCookies()">                               - Αναθεώρηση Αποδοσχής     </a> </br>
<a class="info_items_space">                                                                                                                                   </a>
<a id="id_which_cookies_gr"       class="info_footer_items"   href ="#which_cookies_gr">                                            - Ποια χρησιμοποιούμε      </a> </br> 
<a class="info_items_space">                                                                                                                                   </a> 
<a id="id_cookies_general_info"   class="info_footer_items"   href ="https://cookies.insites.com/about-cookies/"   target="_blank"> - Γενικές Πληροφορίες      </a> </br>     
<a class="info_items_space">                                                                                                                                   </a> 
<a id="id_deactivation"           class="info_footer_items"   href ="https://cookies.insites.com/disable-cookies/" target="_blank"> - Απενεργοποίηση           </a> </br>  
  
<p></p>

<span class="hoster">Φιλοξενία: <a class="author_name" href="https://www.papaki.com/en/">                      papaki.gr                    </a></span>      </br>                  

    </div><!-- footer grid items closing --> 
	 
	
	
	<div class="info_footer_grid_items">
	    <b class="info_footer_head">    </b>    
	</div><!-- footer grid items closing --> 
	

</div><!-- footer grid closing --> 



</div><!-- info footer closing --> 


</p>

</span>
</div><!-- Copyright closing --> 


<div id="horizontal_line_0" class="horizontal_line">
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	</div>
	

</footer><!-- Footer closing --> 



</div>
