<!DOCTYPE html>

<head>
	
	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- stylesheet css -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/cookieconsent.min.css"/>
	
	<!-- google web font css -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,700' rel='stylesheet' type='text/css'>

	<!--- Search functionality --->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="tipuesearch/tipuesearch_set.js">      </script>
	<script src="tipuesearch/tipuesearch_content.js">  </script>
	<script src="tipuesearch/tipuesearch.js">          </script>
	<script src="js/cookieconsent.js">                 </script>

	<!--- End search functionality --->
	

</head>
