

{{ partial "header.html" . }}



<body id="mainbody" class="en" lang="en">


{{ partial "body_head.html" . }}


	
<div id="main_body" class="main_body">
	
	
		 <span lang="gr">
	   
δφφδφφφδδφ
	</span>	 
	
			 <span lang="en">
				 
				 
		<a id="#sts"     href ="/Statistics.html"     >  stats   </a>		 
				 
	   
	   
	   

 __________________________
 {{default .Pages }}
	</span>	 
	

</div><!-- mainbody closing -->



<!-- mainbody_2 and mainbody_3 are used to load external html div-content -->

<div id="mainbody_2" class="main_body"> </div>

<div id="mainbody_3" class="main_body"> </div>




{{ partial "footer.html" . }}


</body><!-- body closing --> 


<div class="vertical_line_3 cookie_freeze">	      </div>

<div class="horizonal_line_2 cookie_freeze">       </div>



{{ partial "footer_scripts.html" . }}



</html>
